body{ background: #000032; color: #fff; }
.seccionesVA{
	margin: 30px 10px;
	justify-content: space-around; width: 100%;
}.memoriaColumnas{
	display: inline-block;
	width: fit-content;
}.memoriaElements{
	margin: 5px; display: inline-block; justify-content: center;
	border-radius: 12px; flex-direction: row;
}.innerMemoria{
	width: 130px; height: 130px; background: #30eda5;
	padding: 20px; margin: 10px; border-radius: 13px;
	font-size: 20px; font-weight: bold; box-sizing: border-box;
}#seccionMemoria{
    justify-content: "space-around";
    width: "100%"; box-sizing: "border-box";
}.row-wrap{ display: flex; flex-flow: row wrap; }
.column-wrap{ display: flex; flex-flow: column wrap; }
.seccionMemoria{
	width: fit-content;
}.tapaMemoria{
	position: absolute; width: 130px; height: 130px;
	left: 0; top: 0; border-radius: 13px; 
	border-radius: 13px; background: #30ae45;
}.tapaMemoria:hover{
	cursor: pointer; transform: scale(1.1);
}.memoriaP{
    position: relative;
}.primerP{ font-size: 20px; }
#containerNuevosMemoria{
	display: flex; flex-direction: column;
	justify-content: center;
}#puntosMemoria{
	font-size: 25px; font-weight: bold; margin-bottom: 20px; text-align: center;
}.irALink{
	background: #fff; padding: 8px; color: #000;
	border: none; font-size: 18px; cursor: pointer;
}.irALink:hover{
	border-radius: 12px; cursor: pointer;
}#containaerIrLavieja{
	display: none;
}.textoCentrado{ text-align: center; }

@media (max-width: 630px){
	.innerMemoria{
		margin-right: 0;
	}
}