*{
	font-family: 'Allura', cursive;
    font-family: 'Arvo', serif;
    font-family: 'Asset', cursive;
    font-family: 'Bree Serif', serif;
	margin: 0; padding: 0;
	color: #fff;
}body{ background: #000; } a{ background: none; text-decoration: none; }
#errorLlenar{ display: none; }
#absoluteImage{
	position: absolute; width: 100%; height: 100vh; z-index: -1;
}img{width: 100%;}
#containerHome{
	display: flex; flex-flow: column wrap;
}#containerHome nav, div{ background: none; }
#containerHome nav{
	background: rgb(0.5, 0, 0); position: fixed; z-index: 10000;
	display: flex; flex-flow: row wrap; align-items: center;
	height: 80px; width: 100%; margin-bottom: 30px;
}#containerHome nav div:nth-child(1){
	flex-grow: 6; padding-left: 15px; display: flex; flex-flow: row wrap; justify-content: start; align-items: center;
}#containerHome nav div:nth-child(1) h1{
	display: inline-block; margin-left: 15px; font-size: 26px;
}#containerHome nav div:nth-child(1) img{
	width: 40px; background-image: #000;
}#containerHome nav div:nth-child(2){
	flex-grow: 1; display: flex; flex-flow: row wrap; justify-content: center;
	background-image: url("https://drive.google.com/uc?export=view&id=1lLTtmPBy-jAQgMzZibDyzHoymUw8USJU");
	background-size: 100%; background-repeat: no-repeat;
	background-clip: text; -webkit-background-clip: text;
}#containerHome nav div:nth-child(2) a{
	margin: 0 10px; text-decoration: none; color: transparent; font-size: 24px;
}#centrar-y{
	display: flex; flex-flow: column wrap; justify-content: center; height: 100vh;
}#centrar-y div{
	display: flex; flex-flow: row wrap; justify-content: center;
}#content-home{
	max-width: 850px; max-height: 500px; box-sizing: border-box;
}#content-home h1{ font-size: 50px; text-align: center; margin: 10px 0; }
#content-home h6{ text-align: center; font-size: 15px; width: 100%; }
#content-home p{ font-size: 25px; width: 100%; margin: 10px 0; }
#content-home div{ 
	display: flex; flex-flow: row wrap; justify-content: center;
}#content-home a:nth-child(1) button{ 
	font-size: 25px; border: none; padding: 10px 12px; border-radius: 8px;
	background: #120056; margin: 0 20px;
}#content-home a:nth-child(1) button:hover{
	cursor: pointer; transform: scale(1.2);
}#content-home a:nth-child(2) button{
	font-size: 25px; border: none; padding: 10px 12px; border-radius: 8px;
	background: #112; margin: 0 20px;
}#content-home a:nth-child(2) button:hover{
	cursor: pointer; transform: scale(1.2);
}/*about me –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#containerAbout{
	display: flex; flex-flow: row wrap;
	width: 100%; height: fit-content;
}#me{
	display: flex; flex-flow: row wrap; width: 40%; min-width: 320px; 
	padding: 85px 30px; box-sizing: border-box; height: fit-content;
}#me div{
	width: 90%; max-height: 500px;
}#me div img{
	border-radius: 20px; width: 100%; height: 100%; object-fit: cover;
}
#containerAbout div:nth-child(2){
	display: flex; flex-flow: column wrap; justify-content: center; width: 60%;
	padding: 0 20px; box-sizing: border-box;
}#containerAbout div:nth-child(2) h1{
	text-align: center; font-size: 46px; margin: 20px 0; width: 100%;
}#containerAbout div:nth-child(2) p{
	font-size: 20px; width: 100%;
}/*abilities ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#containerSkill{
	display: flex; flex-flow: column wrap; box-sizing: content-box;
	width: 100%; height: fit-content;
}#containerSkill h1{
	margin: 40px 10px;
}#abilitiesList{
	display: flex; flex-flow: row wrap;
}#abilitiesList div{
	flex-grow: 1; margin: 0 10px;
}.abilityBar{
	display: inline-block; font-size: 35px; 
	background-image: url("https://drive.google.com/uc?export=view&id=13paVuWdygVZWHzKAEcpt5YQEn29LeLGu");
	color: transparent; background-size: 100%; background-position: 50% 84%; background-clip: text;
	-webkit-background-clip: text; -webkit-text-fill-color: transparent;
}
#abilitiesList .conocimientos{
	background: #fff; width: 80px; height: 80px; border-radius: 12px; display: inline-block; margin: 40px 10px;
}#abilitiesList .conocimientos img{ width: 100%; border-radius: 12px; transform: rotate(45deg); background: #fff;}
#educacionLaterales{
	display: flex; flex-flow: row wrap; box-sizing: border-box;
}#educacionLaterales div{
	width: 50%; min-width: 450px; box-sizing: border-box; padding: 20px;
}#educacionLaterales div label{
	font-size: 24px; color: #59af30;
}#educacionLaterales div label a{
	text-decoration: underline #fff;
}#educacion li{
	margin: 20px 40px; font-size: 20px;
}#educacion h3{ font-size: 20px; margin: 0 20px; }
#educacion span{ color: #aaf; }
/*portafolio –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#containerPortafolio{
	width: 100%; height: fit-content; position: relative; background: rgb(0, 0, 5);
}#containerPortafolio h1{
	text-align: center; font-size: 45px;
}#containerProyectos, #containerCards{
	display: flex; flex-flow: row wrap; justify-content: center;
}.proyectos{
	display: inline-block; background: none; position: relative; box-sizing: border-box;
	width: 400px; height: 360px; border-radius: 10%; margin: 15px 10px;
}.cara2{
	position: absolute; width: 100%; height: 100%; border-radius: 10%;
	background-image: url("https://drive.google.com/uc?export=view&id=1Zzs0njsVHak1sn5yS8iM4WVlAbHNGniy");
	background-size: 100%;
}.cara1{
	position: absolute; z-index: 1; width: 100%; height: 100%;
}.cara1:hover{
	cursor: pointer;
}.cara1 img{
	width: 100%; height: 100%; border-radius: 10%; object-fit: cover;
	object-position: right;
}.btnProyectos{
	display: flex; flex-flow: row wrap; justify-content: center;
	border-bottom-left-radius: 10%; border-bottom-right-radius: 10%;
}.cara2 a:nth-child(1) button{
	background: #120056; font-size: 18px; padding: 15px 10px; border: none; border-radius: 12px;
}.cara2 a:nth-child(1) button:hover{
	transform: scale(1.2); cursor: pointer;
}.cara2 a:nth-child(2) button{
	background: #112; font-size: 18px; padding: 15px 10px; border: none; border-radius: 12px; margin-left: 20px;
}.cara2 a:nth-child(2) button:hover{
	transform: scale(1.2); cursor: pointer;
}.cara2 img{
	position: absolute; width: 100%; height: 100%; z-index: -1; border-radius: 10%;
}.cara2 h1{ font-size: 24px; }
.cara2 h1, .proyectos p{ margin: 30px 20px; color: #fff; font-weight: bold;  }
/*contact –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#containerContact{
	width: 100%; height: fit-content; padding: 40px; box-sizing: border-box;
}#containerContact h1, #containerContact p{
	margin: 10px 0;
}#concatFlexRow{
	display: flex; flex-flow: row wrap; box-sizing: border-box; height: fit-content;
}#leftContact{
	flex-grow: 1; display: flex; flex-flow: column wrap; justify-content: center;
	align-items: center; box-sizing: border-box; height: 350px;
}#concatFlexRow form{
	flex-grow: 1;
}#concatFlexRow img{ width: 80px; }
.columnas{
	display: flex; flex-flow: row wrap; justify-content: center;
	width: 100%; height: 40px; margin: 10px 0; height: fit-content;
}.columnas input, .columnas textarea{
	flex-grow: 1; margin: 0 5px; background: #112; border: none;
	padding: 10px; border-radius: 6px; border-style: none; outline: none;
}.columnas input:focus, .columnas textarea:focus{
	transition: all 1s; transform: scale(1.01); background: #113;
}.columnas textarea{
	resize: none; height: 200px;
}#concatFlexRow form button{
	background-image: url("https://drive.google.com/uc?export=view&id=1lLTtmPBy-jAQgMzZibDyzHoymUw8USJU");
	background-repeat: no-repeat; background-size: 100%; color: #000;
	width: 120px; height: 40px; border: none; border-radius: 8px;
}#concatFlexRow form button:hover{
	cursor: pointer; border-bottom: 1px solid #fff;
}/*arreglos –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media(max-width:690px){
	#containerHome nav{
		flex-direction: column; justify-content: center; height: 140px;
	}#containerHome nav div:nth-child(1){
		width: 100%; flex-grow: 1; justify-content: center; align-items: center; margin: 0; padding: 0;
	}#containerHome nav div:nth-child(2){
		width: 100%; flex-grow: 1; order: 100; align-items: center; justify-content: center;
	}#centrar-y{
		height: 60vh;
	}#content-home p{
		padding: 20px;
	}#containerAbout div:nth-child(2){
		width: 100%;
	}
}@media(max-width:1045px){
	#containerAbout{
		flex-direction: column; justify-content: center; align-items: center;
	}
}@media(max-width:865px){
	#concatFlexRow{
		flex-direction: column;
	}.columnas:nth-child(1) input{
		margin: 5px 5px;
	}
}