*{
	font-family: sans-serif; cursor: default;
	margin: 0; color: #fff;
}body{ background: #000032;}
#containerProyectos{
	display: flex; flex-direction: row; box-sizing: border-box; overflow-y: auto;
	justify-content: space-around; height: 90vh;  flex-wrap: wrap;
}
#masMe{
	width: 350px; margin-bottom: 30px;
	display: flex; padding: 15px;
	flex-direction: column; flex-shrink: 0;
}#menu{
	text-align: center; border-bottom: 1px dashed #fff; 
	margin-top: 10px; font-size: 27px;
}#menu:hover{
	color: #005aa8; border-color: #005aa8; cursor: pointer;
}#containerOpcionesAboutMe{
	overflow-y: auto;
}.opcionesMeButton{
	margin-top: 20px; padding: 8px; font-size: 20px; border-radius: 8px;
	border: none; background: linear-gradient(to bottom, #000032, #000);
}.descripcionOpcioneMe{
	background: #000021; margin-left: 15px; padding: 10px; border-radius: 8px;
}
@keyframes aperturaAboutMe{ from{ width: fit-content;} to{ width: 350px;} }
@keyframes aperturaAboutMeLetraGrande{ from{ font-size: 15px;} to{ font-size: 27px;} }
@keyframes cierreAboutMe{ from{ width: 350;} to{ width: fit-content;} }
@keyframes cierreAboutMeLetraGrande{ from{ font-size: 27px;} to{ font-size: 15px;} }
.opcionesMeButton:hover{
	background: linear-gradient(to bottom, #000032, #005aa8);
}#footer{
	display: flex; flex-direction: row; flex-wrap: wrap;
	justify-content: center; padding: 10px; padding-top: 20px;
}.contacto{ margin-left: 35px;}
#descripcionProyectos{
	overflow: auto; display: inline-block;
	width: 500px; padding: 20px 25px;
}#descripcionProyectos p{ font-size: 20px; }
#tituloProyecto{
	text-align: center; margin-bottom: 25px; font-size: 25px; margin-top: 15px;
}