*{
  font-size: 10px;
  font-family: cursive;
  margin: 0;
}

#containerPestana{
    background: #543211;
}
#bienvenida{

}
#pestanaLevel{
    display: none;
}
#juegoContainer{
    display: none;
}


#imgBienvenida{
    position: absolute;
    z-index: -1;
    width: 100%; height: 100%;
}
.imgCon{
    width: 50px; height: 50px; font-size: 40px;
}
#imgMaiz{
    width: 80px;
}
img{
    width: 80px;
    font-size: 20px; font-weight: bold;
}

#cuadroBienvenida{
    position: relative;
    display: flex; flex-direction: column;
    width: 70%; height: 400px;
    border: 8px solid #000;
    margin: auto; margin-top: 15em;
}#mejorJugador{
    display: none;
    flex-flow: column wrap; border-radius: 12px;
    justify-content: space-around; margin: auto;
    padding: 20px; background: #821211; margin-top: 15em;
    width: 300px; height: 300px;
}#mejorJugador h1{
    text-align: center; font-size: 25px; color: #fff;
}#mejorJugador textarea{
    resize: none; flex-grow: 100; margin: 15px 0; padding: 15px; font-size: 20px; background: #aaa;
}#mejorJugador button{
    font-size: 15px; padding: 15px 0;
}

#tituloKurt{
    font-size: 40px; color: #fff;
    text-align: center;
}
#fuegoBienvenida1{
    width: 100%; height: 45px;
    background: rgb(250,90,0);
}
#fuegoBienvenida2{
    width: 100%; height: 45px;
    background: rgb(250,90,0);
    position: absolute; bottom: 0;
}
#bolaFuegoBienvenida{
    position: absolute;
    width: 7px; height: 12px;
    border-radius: 40%;
    background: rgb(250,90,0);
    left: 10px; top: 82px;
}
#containerContainerBcomenzar{
    display: flex; flex-direction: column; 
    justify-content: center; flex-grow: 100;
}#containerBcomenzar{
    display: flex; justify-content: space-evenly;
}#bComenzar{
    width: 150px; height: 50px; margin-right: 15px;
    background: #aaa; color: #000;
    font-size: 15px; font-family: Times New Roman;
}#BestPlayer{
    width: 150px; height: 50px;
    background: #aaa; color: #000;
    font-size: 15px; font-family: Times New Roman;
}#namePlayer{
    width: 150px; height: 50px; text-align: center; outline: none;
    background: #aaa; color: #000;
    font-size: 15px; font-family: Times New Roman;
}#namePlayer::placeholder{ text-align: center; color: #000; }



#level1{
    font-size: 60px; color: #000;
    text-align: center;
}
#levelInfo{
    font-size: 20px; color: #000;
    text-align: center;
}


#juego{
    position: relative;
    width: 100vW; height: 80vH;
}
#fuego1{
    position: absolute;
    background: rgb(250,90,0);
    width: 100vW; height: 20px;
    top: 0; left: 0;
}
#fuego2{
    position: absolute;
    background: rgb(250,90,0);
    width: 100vW; height: 20px;
    bottom: 0; left: 0;
}
.blockSave{
    position: absolute;
    background: #00f;
    width: 100px; height: 10px;
    left: 0; bottom: 100px;
}
.disparo{
    position: absolute;
    background: #ff3600;
    width: 10px; height: 5px;
    border-radius: 50%;
}
.blockOver{
    position: absolute;
    background: #aaa;
    box-shadow: 1px 1px 3px 3px #222;
}
.blockOverGris{
    position: absolute;
    width: 100px; height: 100px;
    background: #333;
    box-shadow: 1px 1px 3px 3px #222;
}
.blockOverNegros{
    position: absolute;
    width: 50px; height: 50px;
    background: #000;
    box-shadow: 1px 1px 3px 3px #222;
}
#maiz{
    position: absolute;
    width: 80px; height: 40px;
    left: 0; bottom: 110px;
}
.corn{
    position: absolute;
    background: #fd0;
    width: 5px; height: 10px;
    border-radius: 60%;
}

#controles{
    display: flex;
    width: 100vW; padding: 25px;
    flex-direction: row;
    justify-content: space-around;
}
.bsControls{
    font-size: 20px;
    padding: 8px; border-radius: 10%;
    background: #aaa; color: #000;
}
.leftCon{
    width: 110px;
}
#bDisparar{
    width: 110px;
}
#blockLife{
    width: content-box;
    padding-top: 20px;
}
#controlsLeft{
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
}







