:root {
    /* colors */
    --none_back: #fff;
    --general_back: #f6fbffea;
    --principal_back: #f3fcffea;
    --unique: rgb(89, 156, 255);
    --principal_font: #000;
    --shadow: #d1d1d1dc;

    /* game colors */
    --player_one: rgb(44, 255, 107);
    --player_one_shadow: rgba(179, 255, 202, 0.911);
    --player_two: rgb(255, 160, 35);
    --player_two_shadow: rgba(255, 213, 158, 0.932);

    /* spaces */
    --general_space: 20px;
    --middle_space: 12px;
    --small_space: 5px;

    /* font sizes */
    --title: 48px;
    --sub_title: 38px;
    --des: 20px;
    --normal: 16px;

    /* sizes */
    --game_height: 80vh;
}

/* general styles */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    scroll-behavior: smooth;
}

body {
    background: var(--general_back);
    color: var(--principal_font);
}

.row_around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* buttos */
.first_button {
    background: var(--none_back);
    border: none;
    padding: var(--middle_space) calc(var(--general_space) * 2);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--des);
}

.second_button {
    background: var(--unique);
    border: none;
    padding: var(--middle_space) calc(var(--general_space) * 2);
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--des);
}

/* welcome page */
#bienvenida_container {
    height: fit-content;
    min-height: 100vh;
}

#bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: calc(var(--general_space) * 2);
    background: var(--principal_back);
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-shadow: inset -1px -3px 34px -2px rgba(170, 170, 170, 0.23);
    -moz-box-shadow: inset -1px -3px 34px -2px rgba(170, 170, 170, 0.23);
    box-shadow: inset -1px -3px 34px -2px rgba(170, 170, 170, 0.23);
}

#bienvenida h1 {
    font-size: var(--title);
}

.label_container_inputs {
    width: 60%;
    height: 40px;
    display: flex;
    position: relative;
}

.input_players_spans {
    position: absolute;
    left: var(--general_space);
    top: 25%;
}

.input_players {
    flex-grow: 1;
    font-size: var(--normal);
    border: none;
    outline: none;
    padding-left: var(--general_space);
    box-sizing: border-box;
    border-top: .1px solid var(--player_one);
}

.input_players:focus + .input_players_spans {
    animation: move_span_input_player .5s forwards;
}

.label_container_inputs:nth-child(3) .input_players {
    border-top: .1px solid var(--player_two);
}

.input_players_focus_span {
    animation: move_span_input_player .5s forwards;
}

@keyframes move_span_input_player {
    from {
        left: var(--general_space);
        top: 25%;
    }

    to {
        left: 0;
        top: -55%;
    }
}

#bienvenida a {
    color: var(--principal_font);
}

/* howToPlay_container */
#howToPlay_container {
    height: fit-content;
    min-height: 100vh;
    padding: var(--general_space);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--general_space);
}

#howToPlay_container h2 {
    font-size: var(--sub_title);
}

#howToPlay_container>div {
    font-size: var(--normal);
    width: 100%;
    max-width: 600px;
    line-height: 25px;
    text-align: left;
    margin-bottom: calc(var(--general_space) * 2);
}

.howtopay_resaltar {
    font-size: var(--des);
    color: var(--player_one);
    margin: 0 var(--general_space);
}


/* game view */
#juego {
    display: none;
    padding: var(--general_space);
    box-sizing: border-box;
}

#container_fieldGame {
    display: flex;
    height: var(--game_height);
    column-gap: var(--general_space);
}

.columnInfoPlayers {
    width: 50px;
    height: var(--game_height);
    background: var(--player_one);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--sub_title);
}

.columnInfoPlayers:nth-child(3) {
    background: var(--player_two);
}

#filedGame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 1;
    height: var(--game_height);
    margin-top: var(--general_space);
    gap: var(--small_space);
}

.filedGame_cells {
    background: var(--none_back);
    cursor: pointer;
    border-radius: 5px;
    outline: .1px solid var(--shadow);
    -webkit-box-shadow: inset -1px -3px 34px -2px rgba(170, 170, 170, 0.23);
    -moz-box-shadow: inset -1px -3px 34px -2px rgba(170, 170, 170, 0.23);
    box-shadow: inset -1px -3px 34px -2px rgba(170, 170, 170, 0.23);
    display: grid;
    place-items: center;
    font-size: var(--title);
}

@media (max-width: 800px) {
    #container_fieldGame {
        background: red;
    }
}