.general_button_first,
.general_button_second,
.general_button_third {
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 3px;
    font-size: var(--small);
    margin: 8px 6px;
    cursor: pointer;
}

.general_button_first:hover,
.general_button_second:hover,
.general_button_third:hover {
    transform: scale(1.1);
}

.general_button_first {
    border: 1px solid var(--develop);
    background: var(--develop);
}

.general_button_second {
    background: none;
    border: 1px solid var(--low_emphasis);
    color: var(--unique);
}

.general_button_third {
    background: none;
    border: 1px solid var(--low_emphasis);
    font-size: var(--sub_small);
    border-radius: 16px;
    min-width: 120px;
    box-sizing: border-box;
}