#nav_container {
    padding: var(--general) var(--general_paddin);
}

#nav_container_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container_info {
    position: relative;
    z-index: 1;
}

.nav_container_info span {
    font-size: var(--small);
    color: var(--develop);
    text-decoration: underline;
    cursor: pointer;
}

#nav_container_main span:nth-child(1) {
    font-size: var(--small);
    font-weight: lighter;
}

#nav_container_main span:nth-child(2) img {
    width: 30px;
}

#nav_container_main span:nth-child(2),
.nav_container_info {
    display: none;
}

#container_float_nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: fit-content;
}

#container_float_nav .nav_container_info {
    padding: var(--general_paddin) calc(var(--general_paddin) * 2);
    box-sizing: border-box;
}

#container_float_nav .nav_container_info span {
    color: var(--white);
    font-size: var(--normal);
}

#navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;
    margin-left: 45%;
    margin-top: 20%;
    list-style: none;
}

#navigation_manch {
    position: absolute;
    width: 100%;
    z-index: 9999999999999999999;
}

#navigation li,
#english_switch_container {
    z-index: 99999999999999999999;
}

#english_switch_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-bottom: var(--general);
    cursor: pointer;
}

#english_switch_container:hover #english_switch_text {
    color: var(--unique)
}

#english_switch_container_ball {
    width: 70px;
    height: 35px;
    background: var(--gray);
    border-radius: 10px;
    margin-right: var(--small_space);
    display: flex;
    justify-content: start;
    align-items: center;
    -webkit-box-shadow: inset -3px 4px 22px 0px rgba(154, 159, 168, 0.19);
    -moz-box-shadow: inset -3px 4px 22px 0px rgba(154, 159, 168, 0.19);
    box-shadow: inset -3px 4px 22px 0px rgba(154, 159, 168, 0.19);
}

#english_switch_ball {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: var(--emphasis);
    border-radius: 50%;
}

.navigation_titles {
    font-size: var(--sub_title);
    margin-top: var(--small_space);
    cursor: pointer;
    border-bottom: .1px solid var(--gray);
    display: inline-block;
    width: fit-content;
    color: var(--emphasis);
}

.navigation_titles:hover {
    border-bottom: .1px solid var(--unique);
}

#english_switch_text {
    font-weight: lighter !important;
    font-size: var(--small) !important;
    border: none !important;
}

.class_open_nav_mobile {
    animation: open_nav_mobile 1.2s forwards;
}

.class_close_nav_mobile {
    animation: close_nav_mobile 1.2s forwards;
}

@keyframes open_nav_mobile {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@keyframes close_nav_mobile {
    from {
        left: 0;
    }
    to {
        left: -100vw;
    }
}